<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace를 통해 DAO와 연결 -->
<mapper namespace="com.hi.dao.JoinBoardMapper">


    <select id="select" parameterType="int" resultType="com.hi.domain.JoinBoardDto">
        SELECT * FROM board WHERE board_id = #{board_id};
    </select>

    <select id="selectAll" resultType="com.hi.domain.JoinBoardDto">
        SELECT * FROM board;
    </select>

    <delete id="writerCheck" parameterType="map">
        SELECT * FROM board WHERE board_id = #{board_id} AND user_id = #{nickname};
    </delete>

    <select id="count" resultType="int">
        SELECT count(*) FROM board;
    </select>

<!--    <insert id="insert" parameterType="com.hi.domain.JoinBoardDto">-->
<!--        INSERT INTO board-->
<!--            (user_id, title, content, nickname, gender)-->
<!--        VALUES-->
<!--            ("dsd",#{title},#{content},#{nickname},#{gender})-->
<!--    </insert>-->
    <insert id="insert" parameterType="com.hi.domain.JoinBoardDto">
        INSERT INTO board
            (user_id, title, created_at, updated_at, region, go_with_start, go_with_end, content, together)
        VALUES
--             ((select user_id from user where username = #{nickname}),
--              (1,#{title},now(), now(), #{region},"2022-05-17","2022-05-19",#{content},#{together})
            (1,"#{title}",now(), now(), "#{region}","2022-05-17","2022-05-19","#{content}","#{together}")
    </insert>

<!--    <update id="update" parameterType="com.hi.domain.JoinBoardDto">-->
<!--        UPDATE board-->
<!--        SET   title = #{title}-->
<!--          , content = #{content}-->
<!--          , updated_at = now()-->
<!--        WHERE board_id = #{board_id} and user_id = #{user_id}-->
<!--    </update>-->

    <update id="update" parameterType="com.hi.domain.JoinBoardDto">
        UPDATE board
        SET   title = #{title}
          , updated_at = now()
          , region = #{region}
          , go_with_start = #{go_with_start}
          , go_with_end = #{go_with_end}
          , content = #{content}
          , together = #{together}
        WHERE board_id = #{board_id}
    </update>


    <delete id="delete" parameterType="map">
        DELETE FROM board WHERE board_id = #{board_id};
    </delete>


</mapper>